@model Lab1.ViewModels.LoginViewModel

<h2>Login</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <div id="fl_nm">Remember Me?<input asp-for="RememberMe" /></div>

        @*<label asp-for="RememberMe"></label><br />*@
    </div>
    
    <div class="fl_save">
        <label><input id="fl_sbmt" type="submit" value="Login" />Login</label>
    </div>
</form>
<p>
    @Html.ActionLink("Back to Home", "Index", "Home")
</p>